.container {
  margin: 10px;
  padding: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 15%;
  margin-top: 50px;
  margin-left: 30px;
  padding: 12px; /* Ajusté pour plus de confort */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ajout d'ombre */
}

.demandes {
  margin-top: 30px;
  display: flex;
  gap: 100px; /* Réduit l'écart entre les cartes */
  flex-wrap: wrap;
  justify-content: center; /* Centrer les cartes */
}

.card {
  background: #fff; /* Couleur de fond blanche */
  padding: 20px; /* Augmenté pour plus d'espace */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée */
  width: 300px;
  text-align: center;
}

.card button {
  background: rgba(255, 0, 0, 0.726);
  color: white;
  border: none;
  padding: 12px; /* Ajusté pour plus de confort */
  border-radius: 5px;
  cursor: pointer;
}

.card .accepted {
  background: gray;
}
h2
{
  margin-left: 230px;
  margin-top: 30px;
}

/*******************************/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f9fa;
  padding: 25px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px; /* Augmenté pour une meilleure visibilité */
  font-weight: bold;
}

.user-menu {
  position: relative;
}

.dropdown-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 35px;
  right: 0;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
  list-style: none;
  padding: 10px 0;
  min-width: 180px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  padding: 10px 15px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #333;
  display: block;
}

.dropdown-menu li:hover {
  background: #f1f1f1;
}


.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  background: transparent;
  border: 2px solid #ccc; /* Bordure grise */
  border-radius: 40%; /* Forme ronde */
  width: 40px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, border 0.3s;
  margin: 0 10px;
}

.pagination button:hover {
  background: #e0e0e0; /* Couleur de survol */
}

.pagination .page-number {
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px; /* Espacement autour du texte */
  padding: 5px 10px; /* Espacement interne */
  border-radius: 50%; /* Forme ronde */
  background: #889394; /* Couleur de fond */
  color: white; /* Couleur du texte */
}