<nav class="navbar">
  <div class="logo">Demande de Don de Sang</div>
  <div class="user-menu">
    <button class="dropdown-btn" (click)="toggleDropdown()">
      {{ currentUser.prenom }} {{ currentUser.nom }} ⏷
    </button>
    <ul class="dropdown-menu" [class.show]="dropdownOpen">
      <li><a href="/dashboard-donneur">Demandes en cours</a></li>
      <li><a href="/historique-donneur">Historique de mes dons</a></li>
      <li><a (click)="onLogout()" >Déconnexion</a></li>
    </ul>
  </div>
</nav>

<div class="search-bar">
  <input  type="text" [(ngModel)]="searchTerm" placeholder="Rechercher..." (input)="filtrerDemandes()" />
  
  <input type="date" placeholder="Filtrer par date" [(ngModel)]="selectedDate" (change)="filtrerDemandes()" />
</div>

<h2>DEMANDES DE DON DE SANG</h2>

<div class="demandes">
  <div class="card" *ngFor="let demande of demandesAffichees">
    <p><strong>Date :</strong> {{ demande.created_at | date:'dd/MM/yyyy' }}</p>
    <p><strong>Groupe sanguin requis :</strong> {{ demande.groupeSanguin }}</p>
    <button [class.accepted]="demande.acceptee" (click)="accepterDemande(demande.id)" >
      {{ demande.acceptee ? 'Demande Acceptée' : 'ACCEPTER LA DEMANDE' }}
    </button>
  </div>
</div>

<div class="pagination">
  <button class="prev" (click)="pagePrecedente()" [disabled]="page === 1">◀</button>
  <span class="page-number">{{ page }}</span>
  <button class="next" (click)="pageSuivante()" [disabled]="page === totalPages">▶</button>
</div>
