<nav class="navbar">
    <div class="logo">Demande de Don de Sang</div>
    
    <div class="user-menu">
      <button class="dropdown-btn" (click)="toggleDropdown()">
        Fatou Bintou ⏷
      </button>
      <ul class="dropdown-menu" [class.show]="dropdownOpen">
        <li><a href="#">Demandes en cours</a></li>
        <li><a href="#">Historique de mes dons</a></li>
        <li><a href="#">Déconnexion</a></li>
      </ul>
    </div>
  </nav>
  
  
  <div class="container">
    <div class="search-bar">
      <input type="text" placeholder="Rechercher..." />
    </div>
  
    <h2>DEMANDES DE DON DE SANG</h2>
  
    <div class="demandes">
      <div class="card" *ngFor="let demande of demandes">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="color: rgb(231, 31, 31);" fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 16 16">
            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11"/>
        </svg>
        <p><strong>Date :</strong> {{ demande.date }}</p>
        <p><strong>Groupe sanguin requis :</strong> {{ demande.groupe }}</p>
        <button [class.accepted]="demande.acceptee" (click)="accepterDemande(demande)">
          {{ demande.acceptee ? 'Demande Acceptée' : 'ACCEPTER LA DEMANDE' }}
        </button>
      </div>
    </div>
  </div>
  
  