<div class="container">
    <h2 class="title">Gestion Du Personnel Medical</h2>
    
    <div class="top-bar">
      <input 
        type="checkbox" 
        class="checkbox-main" 
        [checked]="allSelected" 
        (change)="toggleSelectAll()"
        [disabled]="filteredPersonnel.length === 0">
      
      <div class="search-container">
        <input 
          type="text" 
          placeholder="🔍 Recherche" 
          class="search-input" 
          [(ngModel)]="searchTerm" 
          (input)="applyFilter()">
      </div>
      
      <button class="btn-ajouter" *ngIf="selectedItems.size === 0">  <a href="/ajout-personnel">  + Ajouter </a></button>
      <button 
        class="btn-ajouter" 
        *ngIf="selectedItems.size > 0" 
        style="background-color: #f44336;"
        (click)="deleteMultiple()">
        Supprimer ({{selectedItems.size}})
      </button>
    </div>
    
    <div class="table-container">
      <ul class="personnel-list">
        <li *ngFor="let person of getPaginatedData()" class="personnel-item">
          <input 
            type="checkbox" 
            class="checkbox" 
            [checked]="isSelected(person.id)" 
            (change)="toggleSelect(person.id)">
            
          <img [src]="person.photo || 'assets/images/user/avatar-2.jpg'" 
            alt="Photo de {{ person.nom }}" 
            class="profile-pic">
            
          <div class="info">
            <h3>  {{person.prenom}} {{ person.nom || 'Sans nom' }}</h3>
            <p>{{ person.role || 'Rôle non défini' }}</p>
          </div>
          
          <div class="actions">
            <button class="btn-icon"  (click)="showDetails(person)" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
                    <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
                    <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z"/>
                  </svg>
            </button>
            <button class="btn-icon delete" (click)="deletePersonnel(person.id || '')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                  </svg>
            </button>
            <button class="btn-icon edit" (click)="editPersonnel(person.id || '')" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                  </svg>
            </button>
          </div>
        </li>
        
        <!-- Message si aucun résultat -->
        <li *ngIf="filteredPersonnel.length === 0" class="personnel-item" style="justify-content: center; padding: 30px;">
          <p>Aucun personnel médical trouvé</p>
        </li>
      </ul>
    </div>
    
    <!-- Pagination -->
    <div class="pagination" *ngIf="totalPages > 1">
      <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
        <i class="bi bi-chevron-left"></i>
      </button>
      
      <ng-container *ngFor="let page of getPageNumbers()">
        <button 
          [class.active]="page === currentPage"
          (click)="changePage(page)">
          {{ page }}
        </button>
      </ng-container>
      
      <span class="dots" *ngIf="totalPages > 5 && currentPage < totalPages - 2">...</span>
      
      <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>

  </div>