body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff11;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.add-patient {
    margin-left: auto;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
}

.patient-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.patient-card img {
    border-radius: 50%;
}

.patient-info {
    flex: 1;
}

.patient-info h3 {
    margin: 0;
    font-size: 18px;
}

.patient-info p {
    margin: 5px 0;
    color: #555;
}

.patient-room {
    background-color: #e0f7fa;
    color: #00798c;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}
