<!-- <div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Hello">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dignissimos nemo animi quisquam, fugit repellat velit? Doloremque
        maxime eveniet autem repellendus officia est! Ex dolore, quae reprehenderit enim vel reiciendis?
      </p>
    </app-card>
  </div>
</div> -->

<header>
  <nav>
      <ul>
          <li><a href="#">Hospitalisé</a></li>
          <li><a href="#">Malade Externe</a></li>
      </ul>
  </nav>
  <button class="add-patient">+ Ajout Patient</button>
</header>
<main>
  <div class="patient-card">
      <img src="assets/images/user/avatar-2.jpg" alt="Photo Patient">
      <div class="patient-info">
          <h3>Mamadou Barry</h3>
          <p>Hypertension</p>
          <p>Âge : 30 ans</p>
      </div>
      <div class="patient-room">
          <p>Chambre 10</p>
      </div>
  </div>
  <div class="patient-card">
      <img src="assets/images/user/avatar-2.jpg" alt="Photo Patient">
      <div class="patient-info">
          <h3>Khady Ndiaye</h3>
          <p>Hypertension</p>
          <p>Âge : 30 ans</p>
      </div>
      <div class="patient-room">
          <p>Chambre 10</p>
      </div>
  </div>
  <!-- Ajoutez d'autres cartes de patients ici -->
</main>
