.card {
  .card-body.dashboard-card {
    padding: 18px;
    padding-bottom: 20px;

  }
}

.user-group {
  img {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 2;
    transition: all 0.1s ease-in-out;
    border: 2px solid var(--bs-white);
    + img {
      margin-left: -14px;
    }
    &:hover {
      z-index: 5;
    }
  }
}

.badge-circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
// #card{
//   background-color: #058789;
//   margin-bottom: 30px;
//   height: 200px;
// }
// #msg{
//   font-size: 30px;
//   font-weight: bold;
//   text-transform: uppercase;
//   text-align: center;
//   color: white;
//   text-shadow: 4px 4px 0px red;
//   font-family: Arial, sans-serif;
//   margin-left: 20em;
//   margin-top: 50px;
//   white-space: nowrap;
// }
p{
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  //augmenter la taille de la police
  font-family: Arial, sans-serif;
  white-space: nowrap;
}


/* Image de profil */
.profile-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Texte de bienvenue */
#msg {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-shadow: 3px 3px 0px red;
  font-family: Arial, sans-serif;
  text-align: left;
  white-space: nowrap;
}

/* Carte principale */
#card {
  background-color: #058789;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
  margin-bottom: 30px;
}