
   
<div class="search-container">
  <input 
    type="text" 
    placeholder="🔍 Recherche" 
    class="search-input" 
    [(ngModel)]="searchTerm" 
    (input)="filterPatients()">
</div>

<header>
    <nav>
      <ul>
        <li><a >Hospitalisé</a></li>
        <li><a >Malade Externe</a></li>
      </ul>
    </nav>
    <button class="add-patient">
      <a href="/sample-page">+ Ajout Patient</a>
    </button>
    
  </header>
  
  
  <main>
   

    <div *ngIf="patients.length === 0" class="no-patient">
      <p>Aucun patient trouvé</p>
    </div>
    
    <div *ngFor="let patient of paginatedPatients()" class="patient-card">
      <div style="display: flex; align-items: center; margin-bottom: 25px;">
        <img src="assets/images/user/avatar-2.jpg" alt="Photo de {{ patient.nom }}">
        <div class="patient-info">
          <h3>{{ patient.nom }} {{ patient.prenom }}</h3>
          <p class="patient-age">Âge {{ calculateAge(patient.dateNaissance) }} ans</p>
        </div>
      </div>
      
      <div style=" align-items: center; gap: 15px;">
        <button class="hospitaliser-btn">Hospitaliser</button>
        <div class="patient-actions">
       
            <button class="action-btn" (click)="deletePatient(patient.id)" title="Supprimer">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
              </svg>
          </button>
          <button class="action-btn" title="Modifier"   (click)="editPatient(patient.id)" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
              </svg>
          </button>
        </div>
      </div>
    </div>

  
  </main>
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">⬅</button>
    <span *ngFor="let page of getPages(); let i = index" 
          (click)="goToPage(i + 1)" 
          [class.active]="currentPage === i + 1">
      {{ i + 1 }}
    </span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages()">➡</button>
  </div>